<div class="flex pt-12 min-h-screen">
  <!-- Sidebar -->
  <aside
    class="w-20 md:w-64 bg-gray-900 text-white flex flex-col py-6 px-4 transition-all duration-300"
  >
    <nav class="flex-1 space-y-2">
      <a
        (click)="goToTab('dashboard')"
        [class.bg-gray-700]="isActive('dashboard')"
        class="flex items-center p-3 rounded-lg hover:bg-gray-800 justify-center md:justify-start"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
          ></path>
        </svg>
        <span class="hidden md:inline ml-3">Dashboard</span>
      </a>
      <a
        (click)="goToTab('users')"
        [class.bg-gray-700]="isActive('users')"
        class="flex items-center p-3 rounded-lg hover:bg-gray-800 justify-center md:justify-start"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M15 21a6 6 0 00-9-5.197m0 0A5.975 5.975 0 0112 15a5.975 5.975 0 01-3 5.197m-3-5.197A5.975 5.975 0 016 15a5.975 5.975 0 013-5.197"
          ></path>
        </svg>
        <span class="hidden md:inline ml-3">Users</span>
      </a>
      <a
        (click)="goToTab('usersWithDisease')"
        [class.bg-gray-700]="isActive('usersWithDisease')"
        class="flex items-center p-3 rounded-lg hover:bg-gray-800 justify-center md:justify-start"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
          ></path>
        </svg>
        <span class="hidden md:inline ml-3">High Risks Users</span>
      </a>
      <a
        (click)="goToTab('predictions')"
        [class.bg-gray-700]="isActive('predictions')"
        class="flex items-center p-3 rounded-lg hover:bg-gray-800 justify-center md:justify-start"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
          ></path>
        </svg>
        <span class="hidden md:inline ml-3">Predictions</span>
      </a>
      <a
        (click)="goToTab('messages')"
        [class.bg-gray-700]="isActive('messages')"
        class="flex items-center p-3 rounded-lg hover:bg-gray-800 justify-center md:justify-start"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path>
        </svg>
        <span class="hidden md:inline ml-3">Messages</span>
      </a>
    </nav>
    <button
      (click)="logout()"
      class="mt-8 flex items-center p-3 rounded-lg bg-red-600 hover:bg-red-700 justify-center md:justify-start"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
        ></path>
      </svg>
      <span class="hidden md:inline ml-3">Logout</span>
    </button>
  </aside>
  <!-- Main Content -->
  <main class="flex-1 bg-gray-50 p-8">
    <router-outlet></router-outlet>
  </main>
</div>
